
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/Layouts/_MainLayout.cshtml";
}

<div class="d-flex flex-column flex-root">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="#">Maranatha Cargo Express</a>
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav nav-light-success nav-pills" id="myTab" role="tablist">
                    <!--begin::Item-->
                    <li class="nav-item">
                        <a href="#" class="nav-link py-4 px-6 active text-white" data-toggle="tab" data-target="#kt_header_tab_1" role="tab">
                            <span class="nav-icon">
                                <i class="flaticon-home-2"></i>
                            </span>
                            <span class="nav-text">Home</span>
                        </a>

                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mr-3">
                        <a href="#" class="nav-link py-4 px-6 text-white" data-toggle="tab" data-target="#kt_header_tab_2" role="tab">
                            <span class="nav-icon">
                                <i class="flaticon2-delivery-package"></i>
                            </span>
                            <span class="nav-text">Tracking</span>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mr-3">
                        <a href="#" class="nav-link py-4 px-6 text-white" data-toggle="tab" data-target="#kt_header_tab_2" role="tab">
                            <span class="nav-icon">
                                <i class="flaticon-truck"></i>
                            </span>
                            <span class="nav-text">Shipments</span>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="nav-item mr-3">
                        <a href="#" class="nav-link py-4 px-6 text-white" data-toggle="tab" data-target="#kt_header_tab_2" role="tab">
                            <span class="nav-icon">
                                <i class="flaticon-support"></i>
                            </span>
                            <span class="nav-text">Helpe Ceter</span>
                        </a>
                    </li>
                    <!--end::Item-->
                </ul>
            </div>
        </div>
    </nav>
 
        <div id="img" class="bg-radial-gradient-dark img">
            <div class="form-group col-lg-4 container div-button">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Go!</button>
                    </div>
                </div>
            </div>
        </div>

    <!--begin::Footer-->
    <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-muted font-weight-bold mr-2">2022©</span>
                <a href="http://keenthemes.com/metronic" target="_blank" class="text-dark-75 text-hover-primary">Maranatha Cargo Express </a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 order-md-2">
                <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pr-3 pl-0">About</a>
                <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link px-3">Team</a>
                <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pl-3 pr-0">Contact</a>
            </div>
            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Footer-->
</div>

